* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    font-size: 0%;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    padding: 30px 60px;
    background-color: rgba(20, 2, 102, 0.11) !important;
    margin: 10px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: aliceblue;
    outline: none;
    border: 3px solid rgba(226, 223, 241, 0.37);
    position: relative;
    overflow: hidden;
    animation: mymove-color 2s infinite;
    cursor: pointer;
}

button:hover {
    border: 3px solid rgba(224, 218, 252, 0.082);
}

button:hover::after {
    content: "";
    position: absolute;
    color: aliceblue;
    width: 60%;
    top: 90%;
    left: 0%;
    /* margin: -10px; */
    background: rgb(255, 255, 255);
    height: 2px;
    animation: mymove 3s infinite;
    cursor: pointer;
}

@keyframes mymove-color {
    0% {
        color: rgb(102, 255, 0);
    }

    50% {
        color: green;
    }

    70% {
        color: rgb(100, 100, 2);
    }

    90% {
        color: rgb(224, 203, 106);
    }

    100% {
        color: rgb(235, 194, 13);
    }
}

@keyframes mymove {
    0% {
        top: 0%;
        left: 0%;
        height: 4px;
        width: 40%;
        background-color: #fff;
    }

    30% {
        top: 0%;
        left: 98%;
        height: 4px;
        width: 40%;
        background-color: yellow;
    }

    32% {
        top: 0%;
        left: 98%;
        height: 52%;
        width: 4px;
        background-image: linear-gradient(rgb(156, 156, 156), rgb(224, 121, 36));
    }

    65% {
        top: 95%;
        left: 99%;
        height: 60px;
        width: 4px;
        background-image: linear-gradient(rgb(253, 186, 0), rgb(63, 172, 20));
    }

    80% {
        top: 95%;
        left: 0%;
        height: 4px;
        width: 30%;
        background-image: linear-gradient(rgb(206, 126, 60), rgb(255, 174, 0));
    }

    85% {
        top: 95%;
        left: 0%;
        height: 2px;
        width: 4px;
        background-image: linear-gradient(rgb(255, 255, 255), yellow);
    }

    100% {
        top: 0%;
        left: 0%;
        height: 60px;
        width: 4px;
        background-image: linear-gradient(rgb(200, 252, 203), rgb(43, 255, 0));
    }
}